.sapgreen {
	color: #0a3410;
}

.alizarincrimson {
	color: #4e1500;
}

.vandykebrown {
	color: #221b15;
}

.darksienna {
	color: #5f2e1f;
}

.midnightblack {
	color: #000000;
}

.prussianblue {
	color: #021e44;
}

.phthalogreen {
	color: #102e3c;
}

.cadmiumyellow {
	color: #ffec00;
}

.yellowochre {
	color: #c79b00;
}

.indianyellow {
	color: #ffb800;
}

.brightred {
	color: #db0000;
}

.titaniumwhite {
	color: #ffffff;
}
