.sapgreen {
	color: sapgreen;
}

.alizarincrimson {
	color: alizarincrimson;
}

.vandykebrown {
	color: vandykebrown;
}

.darksienna {
	color: darksienna;
}

.midnightblack {
	color: midnightblack;
}

.prussianblue {
	color: prussianblue;
}

.phthalogreen {
	color: phthalogreen;
}

.cadmiumyellow {
	color: cadmiumyellow;
}

.yellowochre {
	color: yellowochre;
}

.indianyellow {
	color: indianyellow;
}

.brightred {
	color: brightred;
}

.titaniumwhite {
	color: titaniumwhite;
}
